
body {
    background: linear-gradient(to right, #333488, #c3c3f0);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #ffffffe6;
    padding: 1rem 0;
}
.container {
    background-color: #ffffffe6;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
}
footer {
    background-color: #00035fe6;
    padding: 1rem 0;
    margin-top: 2rem;
    color: #eeeeee;
}
    